Sidebar {
    padding: '16px';
    backgroundColor: '#eee';
    width: '300px';
    height: '100vh';
    overflow: 'scroll';
}

.gigt-list {
  background-color: #eee;
  height: 100vh;
  padding: 2rem;
  width: 300px;
}